<nova-button>Nova Button component</nova-button>
<hr />
<nova-checkbox></nova-checkbox>
<hr />
<nova-datepicker></nova-datepicker>
<hr />
<nova-dropdown
  [suggestionsEnabled]="true"
  [items]="[
    { value: 0, label: 'Apple' },
    { value: 1, label: 'Banana' },
    { value: 2, label: 'Coconut' },
    { value: 3, label: 'Dog' },
    { value: 4, label: 'Elephant' }
  ]"
></nova-dropdown>
<hr />
<nova-field [label]="'Nova Field component label'">
  <input type="text" as="input" placeholder="Nova Field component input" />
  <div as="error">Nova Field component error.</div>
</nova-field>
